
<% obj.each do |article| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-info">
            <div class="panel-heading">
               <h4><%=link_to article.title,article_path(article) %><h4>
            </div>
            <div class="panel-body">
              <%=truncate(article.description,length: 100) %>
              <div class="user-detail">
                <small>
                   created by: <%=article.user.username if article.user %>,
                               <%= time_ago_in_words(article.created_at)%> ago,
                   last updated: <%= time_ago_in_words(article.updated_at) %>

                </small>
              </div>
            </div>
            <div class="panel-footer">

                  <%= link_to "Edit articles",edit_article_path(article),class:"btn btn-primary btn-xs" %>
                  <%= link_to "Delete article",article_path(article),
                                  method: :delete, data: {confirm: "Are you sure?"},
                                  class:"btn btn-danger btn-xs"%>

            </div>
      </div>
    </div>
  </div>
<% end %>
