
<h2 align="center"> Title : <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
    <h3 class="center"> description </h3>
    <%=simple_format(@article.description) %>
    <div class="article-action">
        <%= link_to "Edit articles",edit_article_path(@article),class:"btn btn-primary btn-xs" %>
        <%= link_to "Delete article",article_path(@article),
                        method: :delete, data: {confirm: "Are you sure?"},
                        class:"btn btn-danger btn-xs"%>
        <%= link_to "all article list",articles_path ,class:"btn btn-success btn-xs"%>
    </div>
</div>
